@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	html, body { overflow: hidden; }
}
body {
	padding-top:30px;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}


h1 {
	display: block;
	font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

hr {
	height: 1px;
	border: 0;
	margin: 0px 10px;

	background-color: #eee;
	color: #eee; 
}

.header {
	margin-bottom: 15px;
}

.header-label {
	padding: 8px 10px;
}

.content {
	padding: 20px;
}

.vehicle-name,
.info-btn {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	margin: 10px;
}
